# .gitginore version1
# Ignore all 忽略所有文件
*

# Unignore files with specific extensions 设置你不想忽略的文件
!*.cpp
!*.txt
!*.md
!*.c
!*.pdf
!*.h
!*.html
!*.jpg
!Makefile
!*.o
!*.so
!*.png

# Unignore all dirs
!*/


.idea
.vscode
cmake-build-debug
build

# .gitginore version2

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
