# Ignore all 忽略所有文件
*

# Unignore files with specific extensions 设置你不想忽略的文件
!*.cpp
!*.txt
!*.md
!*.c
!*.pdf

# Unignore all dirs
!*/


.idea
cmake-build-debug

base_code/CMakeLists.txt
practice/CMakeLists.txt

